<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-controller="UtilisateurCtrl as vm">
	<div class="page-content">
		<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		<div class="modal fade" id="portlet-config" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true"></button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">Widget settings form goes here</div>
					<div class="modal-footer">
						<button type="button" class="btn blue">Save changes</button>
						<button type="button" class="btn default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

		<!-- BEGIN PAGE HEADER-->
		<h3 class="page-title">
			WordSoft<small> </small>
		</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li><i class="fa fa-home"></i>
				 <a href="#/Acceuil">Home</a> <i
					class="fa fa-angle-right"></i></li>
				<li><a href="#"></a></li>
			</ul>

		</div>
		<!-- END PAGE HEADER-->
		<!-- BEGIN PAGE CONTENT-->
		<!-- BEGIN DASHBOARD STATS -->
		<div>

			<div class="col-md-6 dashboard-stat breadcrumb ">
<h1>Ajouter un client a notre société:</h1>



				<label>Nom Client: </label>

				<div class="form-group">
					<label class="control-label visible-ie8 visible-ie9 ">nom Client</label>
					<div class="input-icon">
						<i class="fa fa-user"></i> <input
							class="form-control placeholder-no-fix" type="text"
							autocomplete="off" placeholder="nomClient" name="nomClient"
							ng-model="vm.utilisateurBean.utilis.nomRefUtilisateur" />
							<label ng-show="vm.nomError">champ vide</label>
					</div>
				</div>





				<div class="form-group">

					<label>Login Utilisateur : </label>
					<div class="form-group">
						<label class="control-label visible-ie8 visible-ie9">Login</label>

						<div class="input-icon">
							<i class="fa fa-user"></i> <input
								class="form-control placeholder-no-fix" type="text"
								autocomplete="off" placeholder="UserLogin" name="username"
								ng-model="vm.utilisateurBean.utilis.logUtilisateur" />
								<label ng-show="vm.logError">champ vide</label>

						</div>
					</div>


				</div>


				<label>mot de passe : </label>
				<div class="form-group">

					<label class="control-label visible-ie8 visible-ie9 ">Password</label>
					<div class="input-icon ">
						<i class="fa fa-lock  "></i> <input
							class="form-control placeholder-no-fix " type="password"
							autocomplete="off" placeholder="Password" name="password"
							ng-model="vm.utilisateurBean.utilis.passwUtilisateur" />
							<label ng-show="vm.pwdError">champ vide</label>
					</div>
				</div>

				<label>Ref Tier : </label> <select
					ng-model="vm.utilisateurBean.utilis.idRefTiers">
					<option value="{{tier.idRefTiers}}"
						ng-repeat="tier in vm.utilisateurBean.tiers">{{tier.resSocial}}</option>
				</select>



				<button ng-click="vm.addRefUtilisateur()"
					class="btn btn-primary  red-intense">Add User</button>


				<a href="#/ListeUtilisateur" class="btn btn-primary red-stripe">
					<i class="fa fa-search"></i> find All Utilisateurs
				</a>
<div ng-if="vm.utilisateurBean.ajouterutilisateurM == 'utilisateur ajouté'" class="alert alert-block alert-success fade in">
						<button type="button" class="close" data-dismiss="alert"></button>
						<h4 class="alert-heading">Success!</h4>
						<p> Client  ajouté </p>
						</div>

				<!-- END DASHBOARD STATS -->
				<!-- END PAGE CONTENT-->
			</div>
		</div>


		<!-- END DASHBOARD STATS -->
		<!-- END PAGE CONTENT-->

	</div>
	<!-- END CONTENT -->
</div>

<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->