<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper" ng-controller="AjouterPeriodeCtrl as vm">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			WorldSoft<small> </small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#/Acceuil">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#"></a>
					</li>
				</ul>
		
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<!-- BEGIN DASHBOARD STATS -->
			<div >
			<div class="row  dashboard-stat breadcrumb">
			Ajouter une periode correspondante a un hotel
	               <div class="col-md-3 ">
						<span class="label label-sm bg-blue-chambray">Nom Periode </span>
						 <input
							type="text" class="form-control input-inline input-medium"
							ng-model="vm.periodeBean.ajtP.nomP"
							placeholder="Enter le nom de la Periode ">
					</div>
					 <div class="col-md-3 ">
						<span class="label label-sm bg-blue-chambray">label Periode </span>
						 <input
							type="text" class="form-control input-inline input-medium"
							ng-model="vm.periodeBean.ajtP.lblP"
							placeholder="Enter label de la Periode ">
					</div>
					
					 <div class="col-md-3 ">
                           
							<label class="bg-blue-chambray">Hotel: </label> 
							<select
								ng-model="vm.periodeBean.ajtP.idHotel">
								<option value="{{hotel.idHo}}"
									ng-repeat="hotel in vm.periodeBean.hotels">{{hotel.NomHo}}</option>
							</select>
                           
					</div>
					 <div class="col-md-3 ">
						<div class="row ">Ajouter Date Deb</div>
							<div class="row">
                             <i class="fa fa-calendar"></i>
								<input type="text" pikaday="myPickerObject"
									ng-model="vm.periodeBean.ajtP.dtDeb ">
							</div>
						
						
						<div class="row ">Ajouter Date Fin</div>
							<div class="row">
                               <i class="fa fa-calendar"></i>
								<input type="text" pikaday="myPickerObject"
									ng-model="vm.periodeBean.ajtP.dtFin">
							</div>
						</div>
			
			
			
				</div>
				

					 
												
                 <button  ng-click="vm.addPeriodeH()" class="btn btn-primary  green">Ajouter un Arrangement
				 </button>

 <a href="#/ListePeriode" class="btn btn-default btn-sm  red-stripe">
								        <i class="fa fa-search"></i> Consulter Periode </a>
	
	<div ng-if="vm.periodeBean.ajouterPerM == 'Periode  ajoutée'" class="alert alert-block alert-success fade in">
						<button type="button" class="close" data-dismiss="alert"></button>
						<h4 class="alert-heading">Success!</h4>
						<p> La periode est ajoutée avec succé </p>
						</div>
		
			<!-- END DASHBOARD STATS -->
		<!-- END PAGE CONTENT-->
	
	</div>
	<!-- END CONTENT -->
	</div>
</div>
<!-- END CONTAINER -->
