<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper" >
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			Dashboard<small> </small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#"></a>
					</li>
				</ul>
		
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<!-- BEGIN DASHBOARD STATS -->
			<div  ng-controller="AjouterHCtrl as vm">
			<div class="row  dashboard-stat breadcrumb">
			<div>
			<blockquote class="hero">
			<p>afficher ts les Hotels </p>
			</blockquote>
			</div>
			
			<div class="row">
			

							<label>Category:11 </label> <select ng-model="vm.category"
								ng-change="vm.findAllHotelsByCategory(vm.category)">
								<option value="{{hotel.categorieHotel}}"
									ng-repeat="hotel in vm.ajouterHBean.category">{{hotel.categorieHotel}}</option>
							</select>

						</div>
						
						
	              <button  ng-click="vm.ajouterHBean.ajtH.findAllHotels()" class="btn btn-primary  red-intense">Find Hotel</button>
					<a href="AjouterHotel.html"  class="btn btn-primary  red-intense">
								        <i class="fa fa-pencil"></i> Ajouter Hotel </a>
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>Table Hotel
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						
						
						<div class="portlet-body">
							<div class="table-scrollable">
							
							<table  class="table table-striped table-bordered table-advance table-hover">
							
								<thead>
									<tr>
										
										<th>id</th>
										<th>nom Hotel</th>
								        <th>label Hotel</th>
										<th>PAys</th>
										<th>Ville</th>
										<th>Adresse</th>
										<th>Categorie</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-model="vm.ajouterHBean.ajtH.idHotel"
									 ng-repeat="hotel in vm.ajouterHBean.hotelss">
										<td class="hidden-xs" value="{{hotel.idHo}}">{{hotel.idHo}}</td>
										<td  class="highlight" value="{{hotel.idHo}}">{{hotel.NomHo}}</td>
										<td class="hidden-xs" value="{{hotel.idHo}}">{{hotel.abrv}}</td>
										<td  class="highlight" value="{{hotel.idHo}}">{{hotel.pays}}</td>
										<td class="hidden-xs" value="{{hotel.idHo}}">{{hotel.ville}}</td>
										<td  class="highlight" value="{{hotel.idHo}}">{{hotel.adr}}</td>
										<td class="hidden-xs" value="{{hotel.idHo}}">{{hotel.categorieHotel}}</td>
										<td>
										
										<a href="javascript:;" ng-click="vm.ajouterHBean.deleteHotel(hotel.idHo)" class="btn default btn-xs red-stripe">
										<i class="fa fa-trash-o"></i> Delete </a>
										<a href="javascript:;" 
										 class="btn btn-default btn-sm green-stripe">
								        <i class="fa fa-pencil"></i> Add </a>
										</td>
									</tr>
									</tbody>
							</table>
						</div>				       
				       
				       
				       
				       </div>
	
		
			<!-- END DASHBOARD STATS -->
		<!-- END PAGE CONTENT-->
	
	</div>
	<!-- END CONTENT -->
	</div>
</div>
<!-- END CONTAINER -->
</div>
</div>
