<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper" ng-controller="ReservationCtrl as vm">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			WorldSoft<small> </small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#/Acceuil">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#"></a>
					</li>
				</ul>
		
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<!-- BEGIN DASHBOARD STATS -->
			<div >
			<div class="row  dashboard-stat breadcrumb">
			<div>
			<blockquote class="hero">
			<p>afficher les reservations des Clients </p>
			</blockquote>
			</div>
			
	           
	        <div class="row">

							<label>Ref TIER: </label> <select
								ng-model="vm.reservationBean.res.idRefTiers" 
								ng-change="vm.reservationBean.findReservationbyRefTier(vm.reservationBean.res.idRefTiers)">
								<option value="{tier.idRefTiers}}"
									ng-repeat="tier in vm.reservationBean.tiers">{{tier.resSocial}}</option>
							</select>
                           
						</div>

<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>Liste des Reservations
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						
						
						<div class="portlet-body">
							<div class="table-scrollable">
							
							<table  class="table table-striped table-bordered table-advance table-hover">
								<thead>
									<tr>
										
										<th>idClient</th>
										<th></th>
								        <th>Login Client</th>
										<th>Mot de passe</th>
										<th>id RefTier</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="res in vm.reservationBean.reservations">
									<td class="hidden-xs"value="{{res.idReserv}}">{{res.idReserv}}</td>
									<td class="hidden-xs" value="{{res.idReserv}}">{{res.dateReserv}}</td>
									<td class="hidden-xs" value="{{res.idReserv}}">{{res.lResr}}</td>
									<td class="hidden-xs"value="{{res.idReserv}}">{{res.prix}}</td>
									
									<td>
										<a href="javascript:;" ng-click="vm.reservationBean.deleteRes(res.idReserv,vm.reservationBean.res.idRefTiers)" class="btn default btn-xs red-stripe">
										<i class="fa fa-trash-o"></i> Delete </a>
										
								    </td>
									</tr>
									</tbody>
							</table>
						</div>
				      
				       
				       
				       </div>
	
		
			<!-- END DASHBOARD STATS -->
		<!-- END PAGE CONTENT-->
	
	</div>
	<!-- END CONTENT -->
	</div>
</div>
</div>
<!-- END CONTAINER -->
</div>